.subscribe-btn,
.subscribe-btn:hover,
.blog-info .post-category,
.sub-menu li a:hover {
	color: #77929f;
}

.social-links li a:before,
.social-links li a:after,
.page-item.active .page-link,
.page-item .page-link:hover,
.cont-form-sec form input[type="submit"],
.sub-menu li a:before,
.blobs .blob-center,
.blob {
	background-color: #77929f;
}