
@media (max-width: 1366px) {
	.close-search {top: 50px;right: 30px;}
}



@media (max-width: 1200px) {
	.container {max-width: 100%;padding: 0 15px;}
	.blog-items.main .row .col-lg-8, .main-content > .container > .row > .col-lg-8 {max-width: 100%;margin: 0;padding: 0 8px;}
	.blog-items.main .row .col-lg-4 {max-width: 100%;}
	.blog-items.main .row .col-lg-4 .blog-item {width: 50%;float: left;padding: 15px 8px 0 8px;}
	.blog-items.main .row {margin: 0 -15px;}
	.feat-stors .post-title {font-size: 14px;line-height: 20px;}
	.top-post-section .blog-items > .row > .col-lg-9 {max-width: 70%;margin: 0;padding-right: 40px;}
	.top-post-section .blog-items > .row > .col-lg-3 {max-width: 30%;}
	.blog-items.main .row, .main-content > .container > .row {margin: 0 -8px;}
	.main-content > .container > .row > .col-lg-4 {max-width: 100%;padding: 0 8px;}
	.sidebar {margin-top: 50px;}
	.widget-social-links li {width: 33.33%;}
	.widget-adver {text-align: center;}
	.blog-items.main .post-title {font-size: 18px;line-height: 25px;}
	.smaller-post .post-title {font-size: 15px;line-height: 22px;}
	.blog-items.main .pd-row .col-lg-4 {max-width: 33.33%;}
	.blog-items.main .pd-row .col-lg-4 .blog-item {width: 100%;}
	.blog-items.main .pd-row {margin: 0 -3px;}
	.blog-items.main .pd-row .blog-info {padding: 0 30px;}
	.blog-items.main .pd-row .col-lg-4 .blog-item {padding: 0;}
	.pb-30 {padding-bottom: 70px;}
	.featured-stories .container {padding: 0;}
	header.style2 .container-fluid {padding: 0 15px;}
	.about-img > img {width: 100%;}
	.more-abt {padding-left: 60px;}
	.menu-content .post-title, .menu-content .post-title a {font-size: 14px;}
	.post-imgs > ul li {width: auto;}
	.mr-50 {margin: 0 !important;}
}



@media (max-width: 991px) {
	.feat-stors .blog-item, .ft-style .blog-item {margin-bottom: 40px;}
	.feat-stors .blog-items, .ft-style {margin-bottom: -40px;}
	.ft-style .post-title {font-size: 13px;line-height: 20px;}
	.ft-links {width: 100%;text-align: center;margin-top: 30px;}
	.footer-content .social-links {text-align: right;}
	.tab-content .post-title, .blog-items.style2 .post-title {font-size: 18px;}
	.blog-items.main .pd-row .post-title {font-size: 14px;line-height: 21px;}
	.blog-items.main .pd-row .blog-info {bottom: 15px;}
	header.style2 nav {display: none;}
	header.style2 .menu-btn {display: block;float: right;}
	header.style2 .rt-subs {display: none;}
	header.style2 .menu-btn > a {margin-top: 15px;float: right;}
	header.style2 {padding: 10px 0;}
	header.style2 .logo {margin-top: 8px;}
	.about-img > img {width: 50%;}
	.about-img {text-align: center;margin-bottom: 30px;}
	.more-abt {padding-left: 0;}
	.cont-form-sec {width: 70%;}
	.cont-img {width: calc(100% - 70%);}
	nav {display: none;}
	.menu-btn {display: block;}
	.heeney-pagination nav {display: block;}
}



@media (max-width: 768px) {
	.heeney-pagination {margin-top: 50px;}
	.blog-items.main .blog-item.main-style .post-title {width: 100%;}
	.blog-items.main .blog-item.main-style .post-title {font-size: 18px;line-height: 25px;}
	.blog-items.main .blog-item.main-style .blog-info {padding: 0 20px;}
	.blog-items.main .post-title {font-size: 14px;line-height: 22px;}
	.blog-items.main .blog-info {padding: 0 35px;bottom: 15px;}
	.blog-items.main .post-category {left: 20px;}
	.tab-content .post-title, .blog-items.style2 .post-title {font-size: 15px;line-height: 22px;}
	.top-post-section .blog-items > .row > .col-lg-9 {max-width: 100%;padding: 0;}
	.top-post-section .blog-items > .row > .col-lg-3 {max-width: 100%;}
	.top-post-section .blog-item {width: 50%;float: left;}
	.top-post-section .blog-item.lrg {width: 100%;margin-bottom: 30px;}
	.top-post-section .blog-item {padding: 0 10px;}
	.top-post-section .blog-items > .row {margin: 0 -10px;}
	.blog-items.style2.sec-padding2 {padding-top: 30px;margin-bottom: -40px;}
	.blog-items.main .blog-info {padding: 0 25px;}
	.blog-items.main .pd-row .col-lg-4 {max-width: 50%;}
	.blog-items.main .pd-row .col-lg-4 .blog-item {margin-bottom: 5px;}
	.blog-items.main .pd-row .blog-info {padding: 0 20px;}
	.tp-pst .blog-item {margin-bottom: 40px;}
	.tp-pst .blog-items {margin-bottom: -40px;}
	.post-list {padding-left: 0;margin-top: 50px;}
	.most-viewed-posts .post-title {font-size: 15px;line-height: 21px;}
	.featured-stories  {padding-bottom: 30px;}
	.about-img > img {width: 70%;}
	.cont-img {display: none;}
	.cont-form-sec {width: 100%;}
	.cont-form-sec {padding: 80px 15px;}
	.prev-p a, .next-p a {width: 90%;}
}



@media (max-width: 576px) {
	.blog-items.main .social-links {display: none;}
	.blog-items.main .blog-item.main-style .post-title {padding: 15px 15px 17px;font-size: 16px;line-height: 23px;}
	.ft-logo {text-align: center;}
	.footer-content .social-links {text-align: center;margin-top: 30px;}
	.ft-links {margin-top: 25px;}
	.blog-items.main .row .col-lg-4 .blog-item {width: 100%;}
	.blog-items.main .blog-info {bottom: 25px;}
	.blog-items.main .blog-item.main-style .blog-info {bottom: 25px;}
	.blog-items.main .post-category {top: 15px;}
	.top-post-section .blog-item {width: 100%;}
	.blog-items.main .blog-item {margin-bottom: 0;}
	.most-viewed-posts .blog-item {margin-bottom: 40px;}
	.most-viewed-posts .post-list {margin-top: 0;}
	.trending-posts {padding: 45px 25px;}
	.about-sec {padding: 70px 0;}
	.ft-style .post-title {font-size: 16px;line-height: 21px;}
	.search-page form .form-field input {padding: 20px 0px;font-size: 18px;}
	.search-page .form-field button {right: 0;}
	.standard-post .post-title {font-size: 20px;line-height: 28px;padding-right: 0;}
	.standard-post blockquote {padding-left: 0;padding-right: 0;}
	.post-catgs-list {width: 100%;margin-bottom: 20px;}
	.post-catgs-links .social-links {width: 100%;}
	.post-catgs-links {text-align: center;}
	.author-info, .cm-info {display: unset;float: left;padding-left: 0;padding-top: 25px;}
	.author-img, .cm-img {display: unset;}
	.cm-hed {padding-right: 0;}
	.reply {position: static;margin-top: 20px;}
	.standard-post h4 {font-size: 18px;line-height: 24px;}
}



@media (max-width: 480px) {
	.blog-items.main .meta {display: none;}
	.blog-items.main .blog-item.main-style .post-title {margin-bottom: 0;}
	.blog-items.main .blog-item.main-style .blog-info {bottom: 10px;}
	.blog-section .nav-tabs .nav-link {font-size: 9px;}
	.widget-social-links {padding: 26px 15px 29px;}
	.widget-social-links li span {font-size: 11px;}
	.widget-adver {padding: 0;}
	.widget-adver img {width: 100%;}
	.smaller-post .blog-info {width: 100%;display: unset;float: left;padding-left: 0;padding-top: 20px;}
	.smaller-post .blog-item {margin-bottom: 30px;}
	.blog-items.main .pd-row .col-lg-4 {max-width: 100%;}
	.trending-posts .meta li, .trending-posts .meta li a {font-size: 10px;}
	.post-list .blog-info {display: unset;float: left;padding-left: 0;padding-top: 15px;}
	.most-viewed-posts .post-list .blog-info {padding-left: 0;}
	.trending-posts .blog-item.main .post-title {font-size: 17px;line-height: 23px;}
	.about-cont h2 {font-size: 32px;}
	.more-abt > h3 {font-size: 18px;line-height: 24px;}
	.standard-post blockquote p {font-size: 18px;}
	.post-control ul li {width: 100%;}
	.cm-hed > span {float: left;margin-top: 8px;}
	.comment-section {padding: 45px 20px;}
	.comment-list ul {padding-left: 15px;}
}